/*
    GENERAL STYLE
*/

@font-face {
    font-family: 'Wellfleet';
    src: url('./../fonts/Wellfleet-Regular.ttf') format('truetype');
}

@keyframes blink-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes img-sprite {
    from {
        background-position: 0px;
    }

    to {
        background-position: 200%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Wellfleet", sans-serif;
}

li {
    list-style: none;
}

body {
    /* background-color: beige; */
}

.hidden {
    display: none !important;
}

/*
    PRE-SCREENS STYLE
*/

.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    .instructions {
        padding: 30px;
        background-color: white;
        color: black;
        max-width: 600px;
        position: relative;

        & h3 {
            font-size: 14px;
        }

        & p {
            font-size: 12px;
            margin-bottom: 15px;
        }

        .initiate-game-btn {
            border: 3px solid black;
            background-color: white;
            color: black;
            padding: 15px 40px;
            cursor: pointer;
        }
    }

}

.border-left {
    width: 10px;
    height: calc(100% + 20px);
    position: absolute;
    left: -10px;
    top: -10px;
    background: url(./../img/borders.png) repeat-y top;

}

.border-right {
    width: 10px;
    height: calc(100% + 20px);
    position: absolute;
    right: -10px;
    top: -10px;
    background: url(./../img/borders.png) repeat-y top;

}

.border-top {
    width: calc(100% + 20px);
    height: 10px;
    position: absolute;
    left: -10px;
    top: -10px;
    background: url(./../img/bordershor.png) repeat-x top;

}

.border-bottom {
    width: calc(100% + 20px);
    height: 10px;
    position: absolute;
    left: -10px;
    bottom: -10px;
    background: url(./../img/bordershor.png) repeat-x top;

}

/*
    BOARD STYLE
*/

.board {
    /* background-color: bisque; */
    /* border: 1px solid gray; */
    max-width: 1024px;
    height: 500px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    position: relative;


    .feeder {
        display: none;
    }

    &.playing {
        .budget {
            .start-game-btn {
                display: none;
            }

            .feeder {
                display: block;
                width: 100px;
                height: 100px;
                background: url(./../img/feeder.png) no-repeat 0 0%;
                background-position-y: bottom;
                background-size: 200%;
                animation: img-sprite 1s steps(2) infinite;

                .foodcounter {
                    position: relative;
                    right: -120px;
                    top: 25px;
                    width: 50px;
                    height: 50px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 5px solid black;
                }

                .crunchie {
                    bottom: 0;
                    left: 0;
                    height: 20px;
                    width: 20px;
                    /* border: 2px solid black;
                    background-color: brown; */
                    z-index: 1;
                    cursor: pointer;
                    transition: all 1s linear;
                    background: url(./../img/crunchie.png) no-repeat top;

                    &.desappeaing {
                        animation: blink-text 1s ease-in infinite;
                    }
                }


            }
        }
    }

}



main {
    /* background-color: pink; */
    height: 80%;
    display: flex;
    position: relative;

    .window {
        width: 399px;
        height: 150px;
        position: absolute;
        top: 0;
        left: calc(50% - 100px);
        background: url("./../img/windows.jpeg") no-repeat 0 0%;
        background-size: cover;
        animation: img-sprite 1s steps(2) infinite;
    }


    .human-bed {
        /* background-color: palevioletred; */
        width: 200px;
        margin-right: 7px;
        margin-top: 100px;
        height: 300px;
        background: url(./../img/bed.jpeg) no-repeat 0 0%;
        background-position-y: bottom;
        background-size: 200%;
        animation: img-sprite 1s steps(2) infinite;

    }

    .battle-ground {
        /* background-color: orange; */
        /* border: 1px solid gray; */
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;

        &.ready li {
            cursor: pointer;
        }

        & ul {
            /* background-color: red; */
            height: 20%;
            display: flex;
            position: relative;

            &:nth-child(1) {
                background: url(./../img/carpettexture.png) repeat-x top;
            }

            &:nth-child(2) {
                & li:nth-child(even) {
                    background: url(./../img/carpettexture.png) repeat-x bottom;
                }

                & li:nth-child(odd) {
                    background: url(./../img/carpettexture.png) repeat-x top;
                }
            }
        }




        & li {
            /* background-color: #e8e8e8; */
            /* border-top: 1px solid lightgray; */
            height: 100%;
            width: 100px;
            position: relative;
            overflow: visible;

            &:nth-child(even) {
                /* background-color: lightgray; */
            }

            &:hover {
                background-color: rgb(243, 243, 243) !important;
            }
        }
    }
}

.monster-closet {
    background-color: orangered;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    margin-top: 99px;
    background: url(./../img/closethole.jpeg) no-repeat 0 0%;
    background-position-y: bottom;
    background-size: 200%;
    animation: img-sprite 1s steps(2) infinite;

    &.open {

        .door-top {
            transform: rotate(223deg) scale(-1.2) translate(27px, 96px);
        }

        .door-bottom {
            transform: rotate(134deg) scale(-1.2) translate(21px, -94px);
        }

    }

    .closet-door {
        width: 50px;
        height: 150px;
    }

    .door-top {
        background: url(./../img/closetdoortop.png) no-repeat 0 0%;
        background-position-y: bottom;
        background-size: 200%;
        animation: img-sprite 1s steps(2) infinite;
    }

    .door-bottom {
        background: url(./../img/closetdoorbottom.png) no-repeat 0 0%;
        background-position-y: bottom;
        background-size: 200%;
        animation: img-sprite 1s steps(2) infinite;

    }

}

footer {
    /* background-color: lightblue; */
    height: 20%;
    display: flex;
    justify-content: space-between;

    .budget {
        /* background-color: aquamarine; */
        width: 20%;

        .start-game-btn {
            /* !THIS BUTTON IS TEMPORARY */
            padding: 10px 20px;
            cursor: pointer;
        }
    }

    .cat-center {
        /* background-color: lightblue; */
        /* border: 1px solid gray; */
        width: 60%;
        display: flex;
        padding: 0 30px;
        background: url(./../img/bordershor.png) repeat-x top;
        position: relative;
        -webkit-box-shadow: -4px -4px 2px -1px #000000;
        box-shadow: -4px -4px 2px -1px #000000;

        &::after {
            content: "";
            width: 10px;
            height: 100%;
            position: absolute;
            right: 0;
            background: url(./../img/borders.png) repeat-y top;
        }

        &::before {
            content: "";
            width: 10px;
            height: 100%;
            position: absolute;
            left: 0;
            background: url(./../img/borders.png) repeat-y top;
        }

        .cat-list {
            display: flex;
            align-items: center;

            .availableCat {
                background-color: #fff;
                width: 80px;
                height: 80px;
                background-size: 4000%;
                background-position: -10px 93px;
                cursor: pointer;

                &:hover {
                    border: 2px solid greenyellow;
                }

                &.chosen {
                    border: 2px solid red;
                }
            }
        }

        .chooseMsg {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    .settings {
        /* background-color: aqua; */
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        .settings-btn {
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}

/*
    CHARACTERS STYLE
*/

.cat {
    width: 100%;
    height: 100%;
    background-size: 4000%;
    background-position: -13px 113px;
}

.bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    left: 70px;
    top: 20%;
    z-index: 1;
}

.monster {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    right: -100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-size: 2500%;
    background-position: 819px 197px;
}