/*
    GENERAL STYLE
*/

@font-face {
    font-family: 'Wellfleet';
    src: url('./../fonts/Wellfleet-Regular.ttf') format('truetype');
}

@-moz-keyframes blink-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes img-sprite {
    from {
        background-position: 0px;
    }

    to {
        background-position: 200%;
    }
}

@-moz-keyframes img-sprite {
    from {
        background-position: 0px;
    }

    to {
        background-position: 200%;
    }
}

@keyframes img-sprite {
    from {
        background-position: 0px;
    }

    to {
        background-position: 200%;
    }
}

@-moz-keyframes img-sprite-thriple {
    from {
        background-position: 0px;
    }

    to {
        background-position: 150%;
    }
}

@-webkit-keyframes img-sprite-thriple {
    from {
        background-position: 0px;
    }

    to {
        background-position: 150%;
    }
}

@keyframes img-sprite-thriple {
    from {
        background-position: 0px;
    }

    to {
        background-position: 150%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Wellfleet", sans-serif;
}

li {
    list-style: none;
}

body {
    background-color: black;
}

.hidden {
    display: none !important;
}

.brown {
    color: brown;
}

.red {
    color: darkred;
}

/*
    MODAL BOXES STYLE
*/

.landing-page {

    background-color: red;
    padding: 10px;
    max-width: 1024px;
    height: 500px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(./../img/landingpage.jpg);
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;

    .landing-btn {
        border: 3px solid black;
        background-color: white;
        color: black;
        padding: 15px 40px;
        cursor: pointer;
        margin-bottom: 100px;
    }
}

.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    .white-box {
        padding: 30px;
        background-color: white;
        color: black;
        max-width: 600px;
        min-width: 400px;
        min-height: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

        & h3 {
            font-size: 18px;
            color: darkred;
        }

        & p {
            font-size: 18px;
            margin: 20px 0;
        }


    }

    .instructions {
        & h3 {
            font-size: 14px;
        }

        & p {
            font-size: 14px;
            margin: 0 0 15px;
        }
    }

    .modal-btn {
        border: 3px solid black;
        background-color: white;
        color: black;
        padding: 15px 40px;
        cursor: pointer;
    }

    .start-game-btn,
    .restart-game-btn {
        background-color: darkred;
        color: white;
        text-transform: uppercase;
    }

    .story {
        text-align: center;
    }

    .story2-face {
        height: 80px;
        width: 80px;
        border: 3px solid black;
        display: inline-block;
        background: url(./../img/spike.png) no-repeat 0 0%;
        background-position-y: bottom;
        background-size: 200%;
        animation: img-sprite 1s steps(2) infinite;

    }

    .story3-face {
        height: 80px;
        width: 80px;
        border: 3px solid black;
        display: inline-block;
        background: url(./../img/catintro.png) no-repeat 0 0%;
        background-position-y: bottom;
        background-size: 200%;
        animation: img-sprite 1s steps(2) infinite;
    }

    &[data-on-lvl="2"] {
        .ready-msg {
            display: none;
        }

        .start-game-btn,
        .restart-game-btn {
            display: none;
        }

        .start-level-btn {
            display: block !important;
            background-color: darkred;
            color: white;
            text-transform: uppercase;
        }

        .lvl2 {
            display: block !important;

        }
    }

    &[data-on-lvl="3"] {
        .ready-msg {
            display: none;
        }

        .lvl2 {
            display: none !important;

        }


        .lvl3 {
            display: block !important;
        }

        .start-game-btn,
        .restart-game-btn {
            display: none;
        }

        .start-level-btn {
            display: block !important;
            background-color: darkred;
            color: white;
            text-transform: uppercase;
        }
    }

    .winorloose[data-status="win"] {
        .win-msg {
            display: block;
        }

        .loose-msg {
            display: none !important;
        }
    }

    .winorloose[data-status="loose"] {
        .win-msg {
            display: none !important;
        }

        .loose-msg {
            display: block;
        }
    }

}

.border-left {
    width: 10px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(./../img/borders.png) repeat-y top;

}

.border-right {
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(./../img/borders.png) repeat-y top;

}

.border-top {
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(./../img/bordershor.png) repeat-x top;

}

.border-bottom {
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(./../img/bordershor.png) repeat-x top;

}

/*
    BOARD STYLE
*/

.board {
    background-color: white;
    padding: 10px;
    max-width: 1024px;
    height: 500px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    position: relative;


    .feeder {
        display: none;
    }

    /*
    ANIMATIONS STYLE
    */

    &.playing {

        & main {
            .window {
                background: url("./../img/windows.jpeg") no-repeat 0 0%;
                background-size: cover;
                animation: img-sprite 1s steps(2) infinite;
            }


            .human-bed {
                background: url(./../img/bed.jpeg) no-repeat 0 0%;
                background-position-y: bottom;
                background-size: 200%;
                animation: img-sprite 1s steps(2) infinite;

            }

        }

        .monster-closet {
            background: url(./../img/closethole.jpeg) no-repeat 0 0%;
            background-position-y: bottom;
            background-size: 200%;
            animation: img-sprite 1s steps(2) infinite;


            .door-top {
                background: url(./../img/closetdoortop.png) no-repeat 0 0%;
                background-position-y: bottom;
                background-size: 200%;
                animation: img-sprite 1s steps(2) infinite;
            }

            .door-bottom {
                background: url(./../img/closetdoorbottom.png) no-repeat 0 0%;
                background-position-y: bottom;
                background-size: 200%;
                animation: img-sprite 1s steps(2) infinite;

            }

        }

        & footer {

            .budget {

                .feeder {
                    background: url(./../img/feeder2.png) no-repeat 0 0%;
                    background-position-y: bottom;
                    background-size: 200%;
                    animation: img-sprite 1s steps(2) infinite;
                }
            }


        }

    }

}



main {
    height: 80%;
    display: flex;
    position: relative;

    .window {
        width: 399px;
        height: 150px;
        position: absolute;
        top: 0;
        left: calc(50% - 100px);
        background: url("./../img/windows.jpeg") no-repeat 0 0%;
    }


    .human-bed {
        width: 200px;
        margin-right: 7px;
        margin-top: 100px;
        height: 300px;
        background: url(./../img/bed.jpeg) no-repeat 0 0%;
    }

    .battle-ground {
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;

        &.ready li {
            cursor: pointer;

            &:not(.occupied):hover {
                background-color: yellow !important;
            }
        }

        & ul {
            background-color: white;
            height: 20%;
            display: flex;
            align-items: flex-end;
            position: relative;
            overflow: visible;

            &:nth-child(1) {
                background: url(./../img/carpettexture.png) repeat-x top;
            }

            &:nth-child(2) {
                & li:nth-child(even) {
                    background: url(./../img/carpettexture.png) repeat-x bottom;
                }

                & li:nth-child(odd) {
                    background: url(./../img/carpettexture.png) repeat-x top;
                }
            }
        }

        & li {
            height: 100%;
            width: 100px;
            position: relative;
            overflow: visible;
        }
    }
}

.monster-closet {
    background-color: orangered;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    margin-top: 99px;
    background: url(./../img/closethole.jpeg) no-repeat 0 0%;

    &.open {

        .door-top {
            transform: rotate(134deg) scale(-1.2) translate(21px, -94px);
        }

        .door-bottom {

            transform: rotate(223deg) scale(-1.2) translate(27px, 96px);
        }

    }

    .closet-door {
        width: 50px;
        height: 150px;
    }

    .door-top {
        background: url(./../img/closetdoortop.png) no-repeat 0 0%;

    }

    .door-bottom {
        background: url(./../img/closetdoorbottom.png) no-repeat 0 0%;
    }

}

footer {
    height: 20%;
    display: flex;
    justify-content: space-between;

    .budget {
        width: 20%;

        .feeder {
            display: block;
            width: 100px;
            height: 100px;
            background: url(./../img/feeder2.png) no-repeat 0 0%;

            .foodcounter {
                position: relative;
                right: -120px;
                top: 25px;
                width: 50px;
                height: 50px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 5px solid black;
            }

            .crunchie {
                bottom: 30px;
                left: 50px;
                height: 40px;
                width: 20px;
                z-index: 1;
                cursor: pointer;
                transition: all 1s linear;
                background: url(./../img/crunchie.png) no-repeat top;

                &.desappeaing {
                    animation: blink-text 1s ease-in infinite;
                }
            }


        }
    }

    .cat-center {
        width: 60%;
        display: flex;
        padding: 0 30px;
        background: url(./../img/bordershor.png) repeat-x top;
        position: relative;
        -webkit-box-shadow: -4px -4px 2px -1px #000000;
        box-shadow: -4px -4px 2px -1px #000000;

        &::after {
            content: "";
            width: 10px;
            height: 100%;
            position: absolute;
            right: 0;
            background: url(./../img/borders.png) repeat-y top;
        }

        &::before {
            content: "";
            width: 10px;
            height: 100%;
            position: absolute;
            left: 0;
            background: url(./../img/borders.png) repeat-y top;
        }

        .cat-list {
            display: flex;
            align-items: flex-end;
            padding-bottom: 5px;

            .availableCat {
                background-color: #fff;
                width: 75px;
                height: 75px;
                cursor: pointer;
                background-size: cover;
                position: relative;
                border: 3px solid black;

                &:hover {
                    scale: 1.1;
                    background-color: yellow;
                }

                &.chosen {
                    scale: 1.1;
                    background-color: yellow;
                }
            }
        }

        .chooseMsg {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    .settings {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .settings-btn {
            background-color: white;
            color: black;
            padding: 15px 40px;
            cursor: pointer;
        }
    }
}

/*
    CHARACTERS STYLE
*/

.cat {
    width: 100%;
    height: 100%;
    background: url(./../img/cat1.png) no-repeat 0 0%;
    background-position-y: bottom;
    background-size: 300%;
    animation: img-sprite-thriple 1.5s steps(3) infinite;
}

.bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url(./../img/furrball.png) no-repeat 0 0%;
    left: 70px;
    top: 20%;
    z-index: 1;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.monster {
    width: 100%;
    height: 90px !important;
    vertical-align: top;
    background-color: transparent !important;
    background-position-y: bottom;
    background-size: 300%;
    animation: img-sprite-thriple 1.5s steps(3) infinite;
    z-index: 1;
    overflow: visible;
}







ul#settings-btn {
    position: absolute;
    height: 3em;
    margin: 0;
    padding: 0 10px;
    background: white;
    color: black;
    border: 3px solid black;
}

ul#settings-btn>li {
    float: left;
    list-style-type: none;
    position: relative;
    width: 100%;
}

label {
    position: relative;
    display: block;
    padding: 0 18px 0 12px;
    line-height: 3em;
    cursor: pointer;
}

label:after {
    content: "";
    position: absolute;
    display: block;
    top: 46%;
    right: 2px;
    width: 0;
    height: 0;
    border-top: 0 solid rgba(0, 0, 0, 1);
    border-bottom: 4px solid rgba(0, 0, 0, 1);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: border-bottom .1s, border-top .1s .1s;
}

input:checked~label:after {
    border-top: 4px solid rgba(0, 0, 0, 1);
    border-bottom: 0 solid rgba(0, 0, 0, 1);
    transition: border-bottom .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input {
    display: none
}

input:checked~ul.submenu {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
}

ul.submenu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: #444;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    transition: max-height 0.5s ease-out;
    position: absolute;
    min-width: 100%;
    left: -11px;
    bottom: 52px;
}

ul.submenu li a {
    display: block;
    padding: 12px;
    color: #ddd;
    text-decoration: none;
    box-shadow: 0 -1px rgba(0, 0, 0, .5) inset;
    transition: background .3s;
    white-space: nowrap;
}

ul.submenu li a:hover {
    background: rgba(0, 0, 0, .3);
}